<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="icon">
    <link rel="stylesheet" href="./assets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="admin.js"></script>
    </style>
    <title>Golang-User-Auth</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/"><span class="blue">Golang</span><span class="red">-</span><span class="yellow">User</span><span class="green">-</span><span class="red">Auth</span></a>
    </nav>
    <main class="container p-5">
        <form action="/" method="POST">
            <div class="alert alert-danger">Error: {{call $.ShowMessage}}</div>
            <input type=button class="btn btn-primary" onClick="location.href='/'" value='Go to Log in Page'><br><br>
            <input type=button class="btn btn-primary" onClick="location.href='/register'" value='Go back to Register Page'>
        </form>
        <br>
    </main>

    <footer class="small text-center text-muted">

    </footer>

</body>

</html>